.lyra
lyra/.idea
lyra/.vscode
lyra/.mypy_cache
lyra/.venv
lyra/shared
lyra/old
lyra/temp
lyra/typings

**/__pycache__
**/desktop.ini

lavalink-local/jdk-13.0.2
lavalink-local/Lavalink.jar
lavalink-local/application.yml

.env
headers_auth.json
config.yml
